{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>{{ vote.title }} by {{ vote.creator }}</h1>
<hr>
<p>설명: {{ vote.description }}</p>
<p>카테고리: {{ vote.category }}</p>
<p>생성일시: {{ vote.created_at }}</p>
<hr>
{% if selection %}
<h1>결과</h1>
<h3>{{ vote.item1 }}: {{ vote.item1_num }}</h3>
<h3>{{ vote.item2 }}: {{ vote.item2_num }}</h3>
{% else %}
<h3>선택해주세요!</h3>
<form action="{% url 'eithers:selectitem' vote.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="item1">{{ vote.item1 }}</button>
    <h3>vs</h3>
    <button type="submit" name="item2">{{ vote.item2 }}</button>
</form>
{% endif %}
<hr>
<h4>댓글 | ({{ vote.comment_set.all.count }})</h4>
<hr>
{% for comment in vote.comment_set.all %}
<div class="d-flex justify-content-between"><div class="d-inline col-8">{{ comment.content }} </div>
<div class="d-inline col-4">작성자 : {{ comment.user }}<br>작성일 : {{ comment.created_at }}</div>
<hr>
{% empty %}
<h4>댓글이 없습니다.</h4>
<hr>
{% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'eithers:comment_create' vote.pk %}" method="POST">
	{% csrf_token %}
	{% bootstrap_form comment_form %}
	<button>댓글 작성</button>
</form>
{% endif %}
{% endblock %}